* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--black);

  font-size: 1.5rem;
  padding: 0 1rem;

  transition: .2s ease;
}

.grid {
  margin: 0 auto;
  max-width: 60rem;

  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
  grid-gap: 1.5rem;
  min-height: 100vh;

  justify-content: center;
  align-content: center;

  justify-items: center;
  align-items: center;
}

.letter {
  font-size: 10vmin;
  line-height: 1;
  text-transform: uppercase;
}

@media screen and (max-width: 48em) {
  body {
    background-color: black;
    color: white;
  }

  .d-1 {
    order: -2;
  }

  .e {
    order: -1;
  }

  .b {
    order: -3;
  }

  .c {
    order: -2;
  }

  .a {
    order: -3;
  }

  .r {
    order: -2;
  }

  .d-2 {
    order: -1;
  }
}