* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Jost', sans-serif;
  color: var(--black);

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5rem;
  min-width: 135vmax;
  width: 130vmax;
  overflow: hidden;

  justify-content: center;
  align-content: center;

  justify-items: start;
  transform: rotate(-45deg);
  transition: transform .5s ease-in-out;
}

.word {
  --word-length: 7ch;

  grid-column: 1;
  width: var(--word-length);
  font-size: 10vmax;
  text-shadow: var(--word-length) 0 currentColor,
    calc(var(--word-length) * 2) 0 currentColor,
    calc(var(--word-length) * 3) 0 currentColor,
    calc(var(--word-length) * 4) 0 currentColor,
    calc(var(--word-length) * 5) 0 currentColor;
  animation: marquee linear 5s infinite;
}

.word:nth-child(odd) {
  animation-direction: reverse;
}

.word:nth-child(2) {
  animation-delay: -0.5s;
}

.word:nth-child(3) {
  animation-delay: -1s;
}

.word:nth-child(4) {
  animation-delay: -2s;
}

.word:nth-child(5) {
  animation-delay: -1.5s;
}

.word:nth-child(6) {
  animation-delay: -2.4s;
}

.word:nth-child(7) {
  animation-delay: -0.25s;
}

.word:nth-child(8) {
  animation-delay: -4.1s;
}

.trigger {
  position: absolute;
  width: 50vw;
  height: 50vh;
  z-index: 1;
}

.trigger--top-left {
  top: 0;
  left: 0;
}

.trigger--top-right {
  top: 0;
  right: 0;
}

.trigger--top-right:hover ~ .grid {
  transform: rotate(45deg);
}

.trigger--bottom-left {
  bottom: 0;
  left: 0;
}

.trigger--bottom-left:hover ~ .grid {
  transform: rotate(225deg);
}

.trigger--bottom-right {
  bottom: 0;
  right: 0;
}

.trigger--bottom-right:hover ~ .grid {
  transform: rotate(135deg);
}


@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}